<html>
    <head>
        <meta property="og:type" content="website">
        <meta property="og:title" content="RulerCraft Tools by Coolo2" />
        <meta property="og:description" content="A collection of tools for daily use on RulerCraft." />
        <meta name="theme-color" content="#6F01FF">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/bot.css">
        <title>RCTools - RulerHelper Bot</title>
    </head>
    <body>
        <div class="navbar noselect" id="navbar">
            <a class="navbar-item navbar-logo" href="/" id="navbar-home"><div class="all-center">RulerCraft Tools</div></a>
            <a class="navbar-item" href="/time"><div class="all-center">Time</div></a>
            <a class="navbar-item" href="/map"><div class="all-center">Map</div></a>
            <a class="navbar-item" href="/bot"><div class="all-center">Bot</div></a>
            <div class="navbar-collapse" aria-label="Collapse" data-balloon-pos="down" id="navbar-chevron"><div class="all-center"><i class="fa-solid fa-chevron-right transition"></i></div></div>
        </div>
        <div id="content" class="horizontal-center">
            <h1>RulerHelper by RCTools</h1>
            <a class="button" style="background-color:#5865F3;" href="/bot/invite" target=”_blank”>
                <span>Invite me</span> 
                <span><img src="/static/images/discord.png" class="button-image" style="filter:brightness(0) invert(1);"></span>
            </a>
            <p>The only RulerCraft Discord Bot!</p>
            <h2>Features</h2>
            <h3>Information</h3>
            <p>Get information on nations, towns and players</p>
            <p><img class="image" src="/static/images/bot_information.png"></p>
            <h3>Statistics</h3>
            <p>Useful statistics for any nation, town or player on the server!</p>
            <p><img class="image" src="/static/images/bot_graphs.png" ></p>
            <h3>Drawings</h3>
            <p>Beautiful drawings of the RulerCraft world!</p>
            <p><img class="image" src="/static/images/bot_drawings.png"></p>
            <h1>Why not invite?</h1>
            <p>Invite RulerHelper to your nation server to enhance your experience today!</p>
            <a class="button" style="background-color:#5865F3;" href="/bot/invite" target=”_blank”>
                <span>Invite me</span> 
                <span><img src="/static/images/discord.png" class="button-image" style="filter:brightness(0) invert(1);"></span>
            </a>
            <div style="height:200px;"></div>
        </div>
        
        
    </body>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/index.js"></script>
</html>