<html>
    <head>
        <meta property="og:type" content="website">
        <meta property="og:title" content="RulerCraft Tools by Coolo2" />
        <meta property="og:description" content="A collection of tools for daily use on RulerCraft." />
        <meta name="theme-color" content="#6F01FF">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <title>RCTools by Coolo2</title>
    </head>
    <body>
        <div class="navbar noselect" id="navbar">
            <a class="navbar-item navbar-logo" href="/" id="navbar-home"><div class="all-center">RulerCraft Tools</div></a>
            <a class="navbar-item" href="/time"><div class="all-center">Time</div></a>
            <a class="navbar-item" href="/map"><div class="all-center">Map</div></a>
            <div class="navbar-collapse" aria-label="Collapse" data-balloon-pos="down" id="navbar-chevron"><div class="all-center"><i class="fa-solid fa-chevron-right transition"></i></div></div>
        </div>
        <div class="title horizontal-center">RCTools - RulerCraft Tools</div>
        <div class="description horizontal-center">Click below on one of the functions on this website!</div>
        <div class="info-container">
            <a class="info-box noselect" data-tilt data-tilt-axis="x" href="/time" style="background-image:url(/static/images/time.png);" openNavbar>
                <div class="info-title" openNavbar>Time</div>
                <div class="info-description" openNavbar>
                    A RulerCraft-specific calendar so that anyone from any IRL timezone can reference the same in-game times! 
                    Currently broken however will be fixed soon!
                </div>
            </a>
            <a class="info-box noselect" href="/map" style="background-image:url(/static/images/map.png);" data-tilt data-tilt-axis="x" openNavbar>
                <div class="info-title" openNavbar>Map</div>
                <div class="info-description" openNavbar>
                    A map of nations' wanted claims and potentially contested regions. Updated regularly by nation leaders
                </div>
            </a>
            <a class="info-box noselect" data-tilt data-tilt-axis="x" openNavbar>

            </a>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/index.js"></script>
</html>